* {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
body {
    margin: 0;
    border: none;
    background-image: url(../images/19759.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-flow: row wrap;
}
.container{
    width: 70%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.btn-DzW{
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 16px;
    transition: .3s;
}
.btn-green{
    background:#0d8754;
    border: 1px solid #0d8754;
    color: white;
}
.btn-green:hover{
    cursor: pointer;
    box-shadow: inset 2px 2px 4px black;
}
header{
    width: 100%;
    background: rgb(13,135,84);
    background: linear-gradient(163deg, rgba(13,135,84,1) 0%, rgba(24,149,97,1) 42%, rgba(13,135,84,1) 100%);
    height: 100px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 3px 16px #353535;
}
header .logoDeezWeb{
    color: white;
    text-decoration: none;
    font-size: 50px;
    display: flex;
    align-items: center;
}
header img{
    height: 80px;
    margin-right: 10px;
}
header span{
    color: #0c1729;
}
nav {
    width: 40%;
    height: 100px;
}
nav ul{
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    width: 33%;
    height: 100%;
}
nav li a{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
    color: white;
    transition: .5s;
}
nav li a:hover{
    background: #0c1729;
    box-shadow: 0 10px 7px -7px white;
}
.intro{
    text-align: center;
    color: white;
}
.intro h1{
    font-size: 46px;
}
.card{
    width: 30%;
    justify-content: space-between;
    border: 1px solid #0d8754;
    padding: 20px;
    border-radius: 10px;
    color: #0d8754;
    background: #0c1729;
    background: rgba(12,23,41,0.9);
    box-shadow: 0 3px 16px #000000;
}
.card .description{
    max-width: 220px;
    min-height: 210px;
    justify-content: space-between;
}
.card .title{
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}
.card .album{
    font-weight: 400;
}
.card .cover{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #0d8754;
}
.card .player{
    width: 100%;
    margin-top: 15px;
    align-self: flex-end;
    border: 2px solid #0d8754;
    border-radius: 40px;
}
.removeFav{
    background: white;
    border: 1px solid #0d8754;
    color: #0d8754;    
    width: 180px;
}
.removeFav:hover{
    cursor: pointer;
    box-shadow: inset 2px 2px 4px grey;
}
.addFav{
    background:#0d8754;
    border: 1px solid #0d8754;
    color: white;
    width: 180px;
}
.addFav:hover{
    cursor: pointer;
    box-shadow: inset 2px 2px 4px black;
}

.rotateVinyle {
    -webkit-animation-name: rotateVinyle;
    animation-name: rotateVinyle;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@-webkit-keyframes rotateVinyle {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -0deg);
        transform: rotate3d(0, 0, 1, -0deg);
    }
    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
        opacity: 1;
    }
}
@keyframes rotateVinyle {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -0deg);
        transform: rotate3d(0, 0, 1, -0deg);
    }
    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
        opacity: 1;
    }
} 